.not-found-box
  position relative
  top 0
  opacity 1
  float left
  padding 60px 50px 40px 50px
  width 100%
  background #fff
  border-radius 5px
  transform scale(1)
  -webkit-transform scale(1)
  -ms-transform scale(1)
  z-index 5
  max-width 480px

.mat-card
  padding 40px 70px 50px

.mat-card-header
  text-align center
  width 100%
  display block
  font-weight 700

.mat-card-header .mat-card-title
  font-size 20px
  margin 0
  margin-top 20px