<mat-card class="not-found-box">
  <mat-card-header>
    <mat-card-title>
      404 Page Not Found
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p>We couldn't find that page! Not even with x-ray vision.</p>
  </mat-card-content>
</mat-card>