.login-box
  position: relative
  top: 0
  opacity: 1
  float: left
  padding: 60px 50px 40px 50px
  width: 100%
  background: #fff
  border-radius: 5px
  transform: scale(1)
  -webkit-transform: scale(1)
  -ms-transform: scale(1)
  z-index: 5
  max-width: 480px
  
.login-box.back
  transform: scale(0.95)
  -webkit-transform: scale(0.95)
  -ms-transform: scale(0.95)
  top: -20px
  opacity: .8
  z-index: -1

.login-box:before
  content: ""
  width: 100%
  height: 30px
  border-radius: 10px
  position: absolute
  top: -10px
  background: rgba(255, 255, 255, 0.6)
  left: 0
  transform: scale(0.95)
  -webkit-transform: scale(0.95)
  -ms-transform: scale(0.95)
  z-index: -1

.login-form
  min-width 100%
  max-width 300px
  width 100%

.login-form .full-width-input,
.login-form .btn-bloc
  width 100%

.mat-card-header
  text-align center
  width 100%
  display block
  font-weight 700

.mat-card-header .mat-card-title
  font-size 30px
  margin 0
  margin-top 20px

.mat-card
  padding 40px 70px 50px

.mat-stroked-button
  border 1px solid currentColor
  line-height 54px
  background #FFF7FA

.mat-form-field-appearance-legacy 
  .mat-form-field-infix 
    padding 0.8375em 0