<mat-card class="login-box">
  <mat-card-header>
    <mat-card-title>Log in</mat-card-title>
  </mat-card-header>
  
  <mat-card-content>
    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Username" formControlName="username" id="username" required>
        <mat-error id="username-error">
          Please provide a valid username
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" id="password" required>
        <mat-error id="password-error">
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button mat-stroked-button color="accent" class="btn-block">Login</button>
    </form>
  </mat-card-content>
</mat-card>