<div class="main-container">
  <mat-toolbar color="primary" class="topbar">
    <div><a href="/home" class="brand">Angular Starter</a></div>
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
  </mat-toolbar>


  <div class="container">
    <div class="page-wrapper" fxLayout="row" fxLayoutAlign="center center">
      <div class="page-content">
        <router-outlet>
          <app-navigation-spinner></app-navigation-spinner>
        </router-outlet>
      </div>
    </div>
  </div>
</div>