.topbar 
  justify-content space-between
  position relative
  top 0
  left 0
  right 0
  z-index 2
  box-shadow 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12)

.brand 
  text-decoration none
  color #fff

.page-wrapper
  background-image url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png)
  background-position center
  background-size cover
  background-repeat no-repeat